<div class="containerFirst  ">
    <h1 class="text-center" style="padding-top: 10%;"> !Bienvenid@¡ {{name_user}} {{last_name_user}} </h1>
    <div class="containerSecond">
    <div class="contenedor">
        <div class="mb-3 ">
            <h3 class="text-center mb-3" >Selecciona una consulta</h3>
            <div class="container d-flex">
                <div class="mb-3 ">
                    <button (click)="priority(1)" type="button" class="cont"> 
                        <i class="fa-solid fa-wheelchair fa-3x"></i> <h5> PRIORITARIO </h5></button>
                </div>
                <div class="mb-3 ">
                    <button (click)=" administrative(2)" type="button" class="cont ">
                        <i class="fa-solid fa-file-contract fa-3x"></i>
                        <h5>ADMINISTRATIVO</h5></button>
                </div>
            </div>
            <div>
                <div>
                    <div>
                    </div>
